In [1]:
import pandas as pd

In [2]:
d = pd.read_csv(r"C:\Users\DELL\Downloads\Telegram Desktop\Fish.csv")

In [3]:
d.head(10)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
5   Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6   Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
7   Bream   390.0     27.6     30.0     35.0  12.6700  4.6900
8   Bream   450.0     27.6     30.0     35.1  14.0049  4.8438
9   Bream   500.0     28.5     30.7     36.2  14.2266  4.9594

In [4]:
d.isnull().any()

Species    False
Weight     False
Length1    False
Length2    False
Length3    False
Height     False
Width      False
dtype: bool

In [5]:
d["Species"].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [6]:
d = d[["Species","Length1","Length2","Length3","Height","Width","Weight"]]

In [7]:
d.head(1)

  Species  Length1  Length2  Length3  Height  Width  Weight
0   Bream     23.2     25.4     30.0   11.52   4.02   242.0

In [8]:
x = d.iloc[:,0:6].values

In [9]:
y = d.iloc[:,6].values

In [10]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("oh",OneHotEncoder(),[0])],remainder = "passthrough")
x = ct.fit_transform(x)

In [11]:
x.shape

(159, 12)

In [36]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 25)

In [37]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
ypred = mlr.predict(x_test)

In [39]:
ypred

array([ 571.33920869,  703.19405887, -108.05567339,  204.45209395,
        163.3022271 ,  622.58875334,  187.64413688,    2.96940249,
         59.22684269,  978.99698209,  737.88846707,  131.15357991,
        847.6486061 ,  139.63723585,  471.16018068,  516.71292792,
         99.941497  ,  852.28269296,   56.63632637,  287.46149387,
        144.81213317,   60.43957602,  875.69946263,  275.00065451,
       1157.91073567,   69.74472784,  970.55218448,  897.38262869,
          3.70275856,   11.17935627,  485.5250139 ,  230.72921244])

In [40]:
y_test

array([ 510. ,  720. ,   51.5,  161. ,  120. ,  685. ,  145. ,    9.9,
         87. , 1000. ,  700. ,  110. ,  955. ,  130. ,  390. ,  540. ,
        120. ,  920. ,   85. ,  197. ,  150. ,   85. ,  850. ,  200. ,
       1250. ,    0. , 1100. ,  950. ,  100. ,   78. ,  500. ,  145. ])

In [41]:
from sklearn.metrics import r2_score
accuracy = r2_score(ypred,y_test)
accuracy

0.9668343327490012

In [42]:
d.head(1)

  Species  Length1  Length2  Length3  Height  Width  Weight
0   Bream     23.2     25.4     30.0   11.52   4.02   242.0

In [44]:
mlr.predict(ct.transform([["Bream",24,25.6,35,6,4]]))

array([478.19799216])

#